.page-form__hint-link {
  color: #fff;
  text-decoration: none;
  background-image: linear-gradient(to right, white 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 5px 1px;
  background-repeat: repeat-x;
  padding-bottom: 2px;
  transition: opacity .2s;
}

.page-form__hint-link:hover {
  opacity: .8;
}
